<a href="https://colab.research.google.com/github/cynthiya-rani/PythonML/blob/main/Day1_ML_journey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
print("Welcome Cynthiya!")

Welcome Cynthiya!

In [ ]:
a=100
print(id(a))

10754024

In [ ]:
b=100
print(id(b))

10754024

In [ ]:
c=100
print(id(c))

10754024

In [ ]:
d=50
e=d
print(id(d))
print(id(e))

10752424
10752424

In [ ]:
s, t, u=10,20,30
print(id(s), id(t), id(u))

10751144 10751464 10751784

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
import keyword as kwd # python keywords list
print(kwd.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#multilie comment
""" test
test """
print("hi")

hi

In [ ]:
st=""" test materieal
python testing
multiple line strings """
print(st)
print(st[-8])

 test materieal
python testing
multiple line strings
s

In [ ]:
# Day 3
l = ["facebook", 20, 10.43, 2+3j]
print(l)
print(type(l))

['facebook', 20, 10.43, (2+3j)]
<class 'list'>

In [ ]:
a = 4+3j
print(type(a))

<class 'complex'>

In [ ]:
a = 10.5
print(isinstance(a, int))

False

In [ ]:
# variable annotation
studname: str="NTT"
print(studname)
print(__annotations__['studname'])
print(type(studname))

NTT
<class 'str'>
<class 'str'>

In [ ]:
aa: int = 10
print(aa)

print(__annotations__['aa'])
print(type(aa))

10
<class 'int'>
<class 'int'>

In [3]:
# dictonaries
d1={2:100, 4:200, 6:300, 8:400, 10: 500}
print(d1)
print(type(d1))
print(d1[4])
print(d1[8])

{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
200
400

In [5]:
d1={'aa':100, 'bb':200, 6:300, 8:400, 10: 500}
print(d1)
print(type(d1))
print(d1[6])
print(d1['bb'])

{'aa': 100, 'bb': 200, 6: 300, 8: 400, 10: 500}
<class 'dict'>
300
200

In [7]:
d1={3:{12,3}, 6:(8,5,6), 8:'NTT', 10: 500}
print(d1)
print(d1[3])
print(d1[8])

{3: {3, 12}, 6: (8, 5, 6), 8: 'NTT', 10: 500}
{3, 12}
NTT

In [16]:
d1={(12,3):100, (8,5,6):200, (1,2):'NTT', 10: 500}
print(d1)
print(d1[(1,2)])
print(d1[10])

{(12, 3): 100, (8, 5, 6): 200, (1, 2): 'NTT', 10: 500}
NTT
500

In [22]:
d1={2:100, 4:200, 6:300, 8:400, 10: 500}
for s in d1.keys():
    print(s)

for ts in d1:
    print(d1[ts])

for s,t in d1.items():
    print(s)
    print(t)
print(d1)

2
4
6
8
10
100
200
300
400
500
2
100
4
200
6
300
8
400
10
500
{2: 100, 4: 200, 6: 300, 8: 400, 10: 500}

In [27]:
#membership operator
s1={2:100, 4:200, 6:300, 8:400, 10: 500}
sk = s1.keys()
sv=s1.values()
sitems=s1.items()
print(2 in s1)
print(10 not in s1)
print (sk)
print(type(sk))
print(sv)
print(type(sv))
print(sitems)

True
False
dict_keys([2, 4, 6, 8, 10])
<class 'dict_keys'>
dict_values([100, 200, 300, 400, 500])
<class 'dict_values'>
dict_items([(2, 100), (4, 200), (6, 300), (8, 400), (10, 500)])